<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<title>githubブラウザ - はてなダイアリープレビュー</title>
<link rel="stylesheet" href="http://d.hatena.ne.jp/css/base.css" type="text/css" media="all">
<link rel="stylesheet" href="http://d.hatena.ne.jp/theme/hatena/hatena.css" type="text/css" media="all">
</head>
<body>

<div class="hatena-body">
<div class="main">

<div id="pager-top" class="calendar">
<%- if prev_link -%>
<a class="prev" href="/github/<%=u @user %>/<%=u @repos %>/blob/<%= prev_link %><%= @path %>" rel="prev">&lt;前のリビジョン</a>
<%- end -%>
<%- if prev_link && next_link -%>
<span class="delimiter">|</span>
<%- end -%>
<%- if next_link -%>
<a class="next" href="/github/<%=u @user %>/<%=u @repos %>/blob/<%= next_link %><%= @path %>" rel="next">次のリビジョン&gt;</a>
<%- end -%>
</div>

<div id="days">
<div class="day">
<h2>
<span class="title">
<%= Time.parse(current["committed_date"]).strftime("%Y-%m-%d") %>
/
<a href="/github/">github</a>
/
<a href="/github/<%=u @user %>"><%=h @user %></a>
/
<a href="/github/<%=u @user %>/<%=u @repos %>"><%=h @repos %></a>
/ 
<a href="/github/<%=u @user %>/<%=u @repos %>/tree/<%=u @sha %>">commit</a> 
/ 
<a href="/github/<%=u @user %>/<%=u @repos %>/commit/<%=u @sha %>"><%=h @sha %></a>
</span></h2>
<div class="body">
<div class="section">
<p>
<%=h current["message"] %> [ <a href="http://github.com/<%=u @user%>/<%=u @repos %>/blob/<%=u @sha %><%= @path %>">view</a> | <a href="http://github.com/<%=u @user%>/<%=u @repos %>/commit/<%=u @sha %>">diff</a> ]
</p>
</div>
</div>

<h2><span class="title"><%=h date.strftime("%Y-%m-%d") %> <%=h title %></span></h2>
<div class="body">
<div class="section">
<p>
<%= body %>
</p>
</div>
</div>

<h2><span class="title">Log</span></h2>

<div class="body">
<ul>
<%- commits.each do |commit| -%>
<li><a href="/github/<%=u @user %>/<%=u @repos %>/blob/<%=u commit["id"] %><%= @path %>"><%= Time.parse(commit["committed_date"]).strftime("%Y-%m-%d") %></a> <%= commit["message"] %>

<% #= commit.inspect %>
</li>
<%- end -%>
</ul>
</div>

</div></div></div></div>
</body></html>
